* {
  margin: 0;
  padding: 0;
}

body {
  background: #f5f4f1 url('../img/bg.jpg');
  font-family: "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #353535;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}


/* Layout */

.wrapper {
  position: relative;
  width: 700px;
  margin: 40px auto;
  padding: 40px;
  background: white;
  text-align: center;
}

.wrapper:before,
.wrapper:after {
  content: '';
  position: absolute;
  top: 5px;
  left: -5px;
  width: 100%;
  height: 100%;
  background: #97917e;
  z-index: -1;
}

.wrapper:before {
  top: 10px;
  left: -10px;
  background: #514933;
}

.copyright-info h4,
.copyright-info h5 {
  margin: 0;
  line-height: 18px;
  font-size: 14px;
  text-align: center;
}

.copyright-info h4 {
  font-weight: bold;
}

.copyright-info {
  margin: 20px 0 40px;
}

/* Final example website */

#final-example .wrapper {
  width: 800px;
  padding: 0;
}

#final-example .content {
  padding: 20px 50px 50px;
  text-align: left;
}

#final-example #nav {
  margin: -27px 0 0;
}

#final-example #nav ul {
  display: inline-block;
  list-style: none;
  text-align: left;
}

#final-example #nav ul li {
  display: inline-block;
  text-align: center;
  margin: 0 10px;
}

#final-example #nav ul li a {
  display: block;
  background: #353535;
  outline: solid 2px #353535;
  border: solid 2px white;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
}

#final-example #footer {
  font-size: 12px;
  line-height: 15px;
  margin: 60px 0 0 0;
}

#final-example #footer strong {
  display: block;
  margin: 0 0 20px;
}

#final-example .column {
  display: block;
  float: left;
}

#final-example .column.three {
  width: 203px;
  margin-right: 45px;
}

#final-example .column.last {
  margin: 0;
}

#final-example small {
  display: block;
  text-align: center;
  margin: 40px 0 0;
}